<h1>{{ section.settings.heading }}</h1>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('#finch-location').on('click', function(event){
    alert("clicked finch")
    })
  });

  document.addEventListener('DOMContentLoaded', function() {
    $('#steeles-location').on('click', function(event){
      alert("clicked steeles, update mapURL to 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19249.034334555115!2d-79.5342832195093!3d43.77221949456904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2fd0515f365b%3A0xd751ee997420d7d!2s4001%20Steeles%20Ave%20W%2C%20North%20York%2C%20ON%20M3N%202T8!5e0!3m2!1sen!2sca!4v1679024107231!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade'")
    })
  });

  document.addEventListener('DOMContentLoaded', function() {
    $('#finch-location').on('click', function(event){
    alert("clicked finch")
    })
  });

  document.addEventListener('DOMContentLoaded', function() {
    $('#finch-location').on('click', function(event){
    alert("clicked finch")
    })
  });

  
</script>


{% assign map_url = '"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92823.86575698238!2d-79.6074903428608!3d43.76349345574679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3b78887572cf%3A0xc2bd8fb5ca162f85!2s7855%20Finch%20Ave%20W%2C%20Brampton%2C%20ON%20L6T%200B2!5e0!3m2!1sen!2sca!4v1679017749378!5m2!1sen!2sca" width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"' %}

    <div class="store-locator-container">
      <div class="locations">
        <div id="finch-location" class="location-button">
          <h3 class="address">7855 Finch Avenue West Malton, Brampton ON L6T 0B2</h3>
          <p class="hours">Mon-Sat: 9 am to 5pm</p>
        </div>
        <div id="steeles-location" class="location-button">
          <h3 class="address">4001 Steeles Avenue West, Toronto ON L4K 2Y2</h3>
          <p class="hours">Mon, Wed, Fri: 10am to 6pm | Tue, Thu, Sat: 12pm to 9pm<p>
        </div>
        <div id="steeles-location" class="location-button">
          <h3 class="address">1305 Dixie Road Lakeview, Mississauga ON L5E 2P8</h3>
          <p class="hours">Every 1st and 3rd Sunday of the month 9am to 5pm<p>
        </div>
        <div id="steeles-location" class="location-button">
          <h3 class="address">6415 Steeles Avenue East Scarborough, Toronto ON M1X 0C7</h3>
          <p class="hours">Open everyday 11am to 3pm<p>
        </div>
      </div>
      <div class="map">
        <iframe src={{map_url}}></iframe>
      </div>
    </div>

    <style>
      .store-locator-container {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding-left: 10vw;
        padding-right: 10vw;
      }

      .location-button {
        display: inline-block;
        height: 130px;
        width: 500px;
        margin: 5px;
        padding: 10px;
        text-align: center;
        color: #ffffff;
        background-color: #D99191;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 5px 5px #BF6385;
        cursor: pointer;
      }

      .location-button:hover {
        background-color: #BF6385;
        box-shadow: 0px 5px 5px #D99191;
      }

      .address {
        margin: 0;
      }

      .map {
        margin-top: 5px;
      }


    </style>
    
{% schema %}
{
  "name": "Store Locator",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Store Locator"
    }
  ],
  "blocks" : [
    {
      "type" : "single-location",
      "name" : "Location",
      "settings" : [
        {
          "type" : "text",
          "id" : "address",
          "label" : "address",
          "default" : "Address"
        },
        {
          "type" : "text",
          "id" : "description",
          "label" : "Description",
          "default" : "Description"
        },
        {
          "type": "text",
          "id" : "maps-link",
          "label" :  "Link",
          "default": "Insert a Google Maps link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Store Locator"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

const log = () => {
  console.log('Hello world')
}

{% endjavascript %}