<h1>{{ section.settings.heading }}</h1>

    <div class="store-locator-container">
      <div class="location-buttons">
        <h2>Here's where the buttons will go :)</h2>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92823.86575698238!2d-79.6074903428608!3d43.76349345574679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3b78887572cf%3A0xc2bd8fb5ca162f85!2s7855%20Finch%20Ave%20W%2C%20Brampton%2C%20ON%20L6T%200B2!5e0!3m2!1sen!2sca!4v1679017749378!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <style>
      .store-locator-container {
        display: flex;
        flex-direction: row;
        margin: auto;
      }
    </style>
    
{% schema %}
{
  "name": "Store Locator",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Store Locator"
    }
  ],
  "blocks" : [
    {
      "type" : "single-location",
      "name" : "Location",
      "settings" : [
        {
          "type" : "text",
          "id" : "address",
          "label" : "address",
          "default" : "Address"
        },
        {
          "type" : "text",
          "id" : "description",
          "label" : "Description",
          "default" : "Description"
        },
        {
          "type": "text",
          "id" : "maps-link",
          "label" :  "Link",
          "default": "Insert a Google Maps link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Store Locator"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}